@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap);

*{
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    font-style: normal;
}

html{
    width: 100%;
    height: 100%;
    /* max-width: 1440px; */
    margin: 0 auto;
}
body{
    margin: 0;
    height: 100rem;
}

h1, h2, h3{
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

h4, h5{
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
}

header{
    display: block;
    width: 100%;
    height: 700px;
    background-color: #000000 !important;
    color: #ffffff;
    border-radius: 0 0 10px 10px;
    background-image: url(./assets/home/desktop/image-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#earphones-header, #headphones-header, #speakers-header{
    border-radius: 0;
    background-image: none;
    text-align: center;
    height: 350px;
}

#earphones-header > #hero-container,
#headphones-header > #hero-container,
#speakers-header > #hero-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#earphones-header > #hero-container #page-title,
#headphones-header > #hero-container #page-title,
#speakers-header > #hero-container #page-title{
    padding-bottom: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 25px;
    border-bottom: 1px solid #979797;
    max-width: 80%;
    margin: 0 auto;
}

nav > #navbar{
    display: inline-flex;
    gap: 35px;
}

#navbar > ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

nav > #navbar a{
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

nav > #navbar a:hover{
    color: #D87D4A;
}

nav > #navbar a:active{
    text-decoration: none;
}

nav > #site-logo > h1{
    margin: 0;
}

.toggle-button {
    position: absolute;
    top: 1.25rem;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50px;
    height: 35px;
    padding: 5px 10px;
    /* border: 1px solid #fff; */
    border-radius: 5px;
    text-align: center;
    opacity: 0.8;
}

.toggle-button .bar {
    height: 3px;
    width: 28px;
    background-color: #fff;
    border-radius: 10px;
}


#cart-btn{
    cursor: pointer;
}

header > #hero-container{
    max-width: 80%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    align-items: center;
}


header > #hero-container h5{
    letter-spacing: 10px;
    color: #F1F1F1;
}

header > #hero-container p{
    max-width: 60%;
}

header > #hero-container > #home-hero-left{
    padding-bottom: 150px;
}

.audiophile-btn{
    display: block;
    text-decoration: none;
    height: 50px;
    width: 150px;
    text-transform: uppercase;
    text-align: center;
    background-color: #D87D4A;
}

.audiophile-btn > div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: inherit;
    text-align: center;
}

#audiophile-btn-orange{
    color: #FFFFFF;
    background-color: #D87D4A;
}

#audiophile-btn-orange:hover{
    background-color: #FBAF85;
}

#audiophile-btn-black{
    color: #000000;
    border: 1.5px solid #000000;
    background: transparent;
}

#audiophile-btn-black:hover{
    color: #FFFFFF;
    background-color: #000000;
}

#audiophile-btn-black-reverse{
    color: #FFFFFF;
    background-color: #000000;
}

#audiophile-btn-black-reverse:hover{
    color: #000000;
    border: 1.5px solid #000000;
    background: transparent;
}

.categories{
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-block: 100px;
    margin-top: 200px;
}

.categories > div{
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #F1F1F1;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.categories > div h2,
.categories > div a{
    text-align: center;
}

.categories img{
    width: 140px;
    position: absolute;
    top: -80px;
}

.categories .shop-btn{
    color: gray;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.categories .shop-btn > div{
    margin-top: 10px;
    margin-bottom: 30px;
}

.categories .shop-btn > div::after{
    content: url(./assets/shared/desktop/icon-arrow-right.svg);
    display: inline-block;
    padding-left: 8px;
}

.categories .shop-btn:hover{
    color: #D87D4A;
}

#home-zx9-speaker{
    margin: 0 auto;
    max-width: 80%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #D87D4A;
    border-radius: 10px;
    background-image: url(./assets/home/desktop/pattern-circles.svg);
    background-position: left;
    background-size: 60%;
    background-repeat: no-repeat;
}

#home-zx9-speaker img{
    height: 400px;
}

#home-zx9-speaker-left{
    align-self: flex-end;
}

#home-zx9-speaker-right{
    width: 30%;
    color: #FFFFFF;
}

#home-zx7-speaker{
    margin: 0 auto;
    max-width: 80%;
    height: 320px;
    background-image: url(./assets/home/desktop/image-speaker-zx7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-block: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}

#home-zx7-speaker > div{
    padding-left: 10%;
}

#home-yx1-earphones{
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: fit-content;
}

#home-yx1-earphones-left{
    width: 100%;
    height: fit-content;
}

#home-yx1-earphones-left img{
    width: inherit;
    height: auto;
    border-radius: 10px;
}

#home-yx1-earphones-right{
    width: 100%;
    background-color: #F1F1F1;
    border-radius: 10px;
    padding-block: 10%;
    padding-left: 10%;
}

.before-footer{
    margin: 150px auto;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.before-footer > .before-footer-left{
    display: block;
    width: -webkit-fill-available;
}

.before-footer > .before-footer-left p{
    max-width: 70%;
    font-weight: 300;
}

.before-footer > .before-footer-right,
.side-by-side > .side-by-side-left{
    width: 100%;
}

.before-footer > .before-footer-right img,
.side-by-side > .side-by-side-left img{
    width: inherit;
    height: auto;
    border-radius: 10px;
}

footer{
    background-color: #000000;
}

.footer-content{
    padding-block: 80px;
    color: #FFFFFF;
    max-width: 80%;
    margin: 0 auto;
}

.footer-content .footer-center{
    display: flex;
    justify-content: space-between;
}

.footer-content .footer-center #footer-paragragh{
    max-width: 50%;
}

.footer-content .socials{
    align-self: flex-end;
    display: inherit;
    justify-content: space-evenly;
    gap: 15px;
}

#footer-nav{
    border-bottom: unset;
}


/* Other pages Styling */

.side-by-side{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: 0 auto;
    gap: 20px;
    margin-top: 100px;
}

#yx1-wireless > #yx1-wireless-right,
#xx59-headphones > #xx59-headphones-right,
#xx99-mark-2 > #xx99-mark-2-right{
    padding-left: 10%;
}

#xx99-mark-1-left{
    padding-left: 0;
}

.side-by-side p{
    max-width: 70%;
}

.side-by-side h5{
    letter-spacing: 10px;
    color: #D87D4A;
}


/* Tablet view styling */

@media(max-width: 875px) {
    .toggle-button{
        display: flex;
        left: 9%;
        z-index: 10;
    }

    nav > #site-logo{
        padding-left: 38%;
    }

    #navbar .menu-container{
        position: absolute;
        top: -20rem;
        left: 0;
        flex-direction: column;
        padding-left: 0;
        width: 100%;
        /* height: 100%; */
        background-color: rgba(216, 125, 74, 1);
        transition: all ease-in-out 0.35s;
        align-items: center;
        z-index: 1;
        padding-bottom: 55px;
    }

    #navbar .menu-container > #home{
        padding-top: 45px;
    }

    #navbar .menu-container.active {
        top: 4rem;
    }
    .toggle-button.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
    }

    .toggle-button.active :nth-child(2) {
    opacity: 0;
    }

    .toggle-button.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
    }

    header{
        background-position-x: 90%;
    }

    header > #hero-container{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    header > #hero-container > #home-hero-left{
        justify-items: center;
    }

    header > #hero-container h1{
        font-size: 50px;
    }

    header > #hero-container p {
        /* max-width: unset; */
        text-align: center;
        padding-block: 20px;
    }


    #home-zx9-speaker{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-position: center;
    }

    #home-zx9-speaker img{
        height: 300px;
    }
    
    #home-zx9-speaker-left{
        align-self: center;
    }
    
    #home-zx9-speaker-right{
        width: 80%;
        justify-items: center;
        text-align: center;
    }

    .before-footer{
        flex-direction: column-reverse;
    }

    .before-footer-left{
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .before-footer > .before-footer-left p{
        max-width: 100%;
        padding-inline: 5%;
    }

    #footer-nav{
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
    }

    #footer-nav > #site-logo {
        padding-left: 0;
        padding-block: 25px;
    }

    .footer-content{
        padding-top: 10px;
    }

    .footer-content > .footer-center {
        display: block;
        position: relative;
    }

    .footer-content > .footer-center > #footer-paragragh{
        max-width: 100%;
        padding-bottom: 50px;
    }

    .footer-center >.socials{
        position: absolute;
        bottom: -40px;
        right: 0;
    }

    .side-by-side {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .side-by-side p {
        max-width: 85%;
    }

    #xx99-mark-1{
        flex-direction: column-reverse;
    }

    /* #yx1-wireless > #yx1-wireless-right, */
    #xx59-headphones > #xx59-headphones-right,
    #xx99-mark-2 > #xx99-mark-2-right,
    #xx99-mark-1 > #xx99-mark-1-right {
        padding-left: 0;
        align-self: center;
        justify-items: center;

    }

}
